<%= image_tag('https://s-media-cache-ak0.pinimg.com/originals/31/f6/e5/31f6e5988654e5e2a2cea626aa95650e.jpg', width: '80', height: '80', alt: 'Site Logo', class: "logo") %>
<%= image_tag('http://positivelypositiveme.weebly.com/uploads/5/9/0/7/59077011/2395810.png', width: '80', height: '80', alt: 'Site Logo', class: "logo") %>
<%= image_tag('http://dailydropcap.com/images/N-9.jpg', width: '80', height: '80', alt: 'Site Logo', class: "logo") %>
<%= image_tag('https://gcs2012.wikispaces.com/file/view/arg-i-50.gif/301149866/75x85/arg-i-50.gif', width: '80', height: '80', alt: 'Site Logo', class: "logo") %>
<%= image_tag('http://previews.123rf.com/images/jullja/jullja1107/jullja110700003/9933333-Serie-de-ABC-agua-l-quida-carta-Capital-C-Foto-de-archivo.jpg', width: '80', height: '80', alt: 'Site Logo', class: "logo") %>
<%= image_tag('https://pbs.twimg.com/profile_images/456431837942775809/6f-M5zPU.jpeg', width: '80', height: '80', alt: 'Site Logo', class: "logo") %>
<%= image_tag('https://d13yacurqjgara.cloudfront.net/users/605032/screenshots/2627307/e.gif', width: '100', height: '100', alt: 'Site Logo', class: "logo") %>
<%= image_tag('https://d13yacurqjgara.cloudfront.net/users/583436/screenshots/1710947/wemo_d.gif', width: '80', height: '80', alt: 'Site Logo', class: "logo") %>
<h1>Editing message</h1>
 
<%= form_for :message, url: message_path(@message), method: :patch do |f| %>
 
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@message.errors.count, "error") %> prohibited
        this message from being saved:
      </h2>
      <ul>
        <% @message.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Back', messages_path %>








