<%= image_tag('mc.webp', width: '80', height: '80', alt: 'Site Logo', class: "logo") %>
<p>
  <strong>Title:</strong>
  <%=@message.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%=@message.text %>
</p>

<p>
  <strong>MiniTitle:</strong>
  <%=@message.minicrewan_title %>
</p>
 
<p>
  <strong>MiniText:</strong>
  <%=@message.minicrewan_message %>
</p>

<%= link_to'Back', messages_path %>
|
<%= link_to 'Edit', edit_message_path(@message) %> 